<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
      function onSubmit(token) {
        document.getElementById("contact-form").submit();
      }
    </script>
</head>
<body>
    <h1 class="large text-primary">Sign Up</h1>
    <p class="lead"><i class="fas fa-user"></i> Create Your Account</p> 
    <form class="form" method="POST" action="/signup" id="contact-form">
        <div class="form-group">
            <input type="text" placeholder="Pseudo" name="pseudo" />
        </div>
        <div class="form-group">
            <input type="email" placeholder="Email Address" name="email" />
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" name="password" />
        </div>
        <div class="form-group">
            <input
                type="password"
                placeholder="Confirm Password"
                name="passwordConfirm"
            />
        </div>
        <button class="g-recaptcha" data-sitekey="6LcA2J4kAAAAAEEIido8TZUe0aPHY59mZdh4vzy6" data-callback="onSubmit">Submit</button>
    </form>
    <p class="my-1">Already have an account? <a href="/login">Sign In</a></p>
</body>
</html>